<form method="post" action="{{ path('measuerement_delete', {'id': measuerement.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ measuerement.id) }}">
    <button class="btn">Delete</button>
</form>
