{% include 'base.html.twig' %}

{% block body %}
    <h1>Edit Measuerement</h1>

    {{ include('measuerement/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('measuerement_index') }}">back to list</a>

    {{ include('measuerement/_delete_form.html.twig') }}
{% endblock %}
