{% include 'base.html.twig' %}

{% block body %}
    <h1>Measuerement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>City_name</th>
                <th>Date</th>
                <th>Temperature</th>
                <th>Humidity</th>
                <th>Chance_of_precision</th>
                <th>Wind_speed</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for measuerement in measuerements %}
            <tr>
                <td>{{ measuerement.id }}</td>
                <td>{{ measuerement.cityName }}</td>
                <td>{{ measuerement.date ? measuerement.date|date('Y-m-d') : '' }}</td>
                <td>{{ measuerement.temperature }}</td>
                <td>{{ measuerement.humidity }}</td>
                <td>{{ measuerement.chanceOfPrecision }}</td>
                <td>{{ measuerement.windSpeed }}</td>
                <td>{{ measuerement.description }}</td>
                <td>
                    <a href="{{ path('measuerement_show', {'id': measuerement.id}) }}">show</a>
                    <a href="{{ path('measuerement_edit', {'id': measuerement.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('measuerement_new') }}">Create new</a>

{% endblock %}
