{% include 'base.html.twig' %}

{% block body %}
    <h1>Create new Measuerement</h1>

    {{ include('measuerement/_form.html.twig') }}

    <a href="{{ path('measuerement_index') }}">back to list</a>
{% endblock %}
