{% include 'base.html.twig' %}

{% block body %}
    <h1>Measuerement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ measuerement.id }}</td>
            </tr>
            <tr>
                <th>City_name</th>
                <td>{{ measuerement.cityName }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ measuerement.date ? measuerement.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Temperature</th>
                <td>{{ measuerement.temperature }}</td>
            </tr>
            <tr>
                <th>Humidity</th>
                <td>{{ measuerement.humidity }}</td>
            </tr>
            <tr>
                <th>Chance_of_precision</th>
                <td>{{ measuerement.chanceOfPrecision }}</td>
            </tr>
            <tr>
                <th>Wind_speed</th>
                <td>{{ measuerement.windSpeed }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ measuerement.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('measuerement_index') }}">back to list</a>

    <a href="{{ path('measuerement_edit', {'id': measuerement.id}) }}">edit</a>

    {{ include('measuerement/_delete_form.html.twig') }}
{% endblock %}
