{% include 'base.html.twig' %}

{% block body %}
    <h1>City index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Size</th>
                <th>Population</th>
                <th>Country</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for city in cities %}
            <tr>
                <td>{{ city.id }}</td>
                <td>{{ city.name }}</td>
                <td>{{ city.size }}</td>
                <td>{{ city.population }}</td>
                <td>{{ city.country }}</td>
                <td>
                
                    {% if is_granted('CITY_SHOW') %}
                        <a href="{{ path('city_show', {'id': city.id}) }}">show</a>
                    {% endif %}

                    {% if is_granted('CITY_EDIT') %}
                        <a href="{{ path('city_edit', {'id': city.id}) }}">edit</a>
                    {% endif %}

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('CITY_NEW') %}
        <a href="{{ path('city_new') }}">Create new</a>
    {% endif %}


{% endblock %}
