{% extends 'base.html.twig' %}
{% block title %}Weather in {{ city.name }}, {{ city.country }}{% endblock %}
{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div class="example-wrapper">
    <h1>{{ city.name }}, {{ city.country }}</h1>
    <ul>
        {% for measuerement in measuerements %}
            <li>{{ measuerement.date|date('d.m.Y') }}: {{ measuerement.temperature }}&deg;C</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}